.place-Berea__title {
    width: 460px;
    height: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height:  4.75rem;
    color: #FFFFFF;
    }
    
@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Berea__title {
        width: 340px;
        height: 46px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 2.625rem;
        line-height: 2.875rem;
        color: #FFFFFF;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .place-Berea__title {
        width: 288px;
        height: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.1875rem;
        color: #FFFFFF;
        margin-left: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }
  
}