    .place-Ribeirao__title {
        width: 460px;
        height: 152px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 4.5rem;
        line-height: 4.75rem;
        margin-bottom: 48px;
        color: #FFFFFF;
        }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Ribeirao__title {
        width: 355px;
        height: 46px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 2.875rem;
        color: #FFFFFF;
    }
}