.place-Criccieth__paragraph-principal {
    width: 484px;
    height: 203px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    margin-bottom: 27px;
    color: #FFFFFF;
    }