    .intro__citacao {
        width: 736px;
        height: 68px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.125rem;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 9px;
        }
        
@media screen and (max-width:768px) and  (max-height:7382px) {

    .intro__citacao {
        width: 707px;
        height: 102px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.125rem;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 13px;
        margin-top: 0;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .intro__citacao {
        width: 288px;
       height: 180px;
       font-style: normal;
       font-weight: 400;
       font-size: 1.5rem;
       line-height: 1.875rem;
       color: #FFFFFF;
       display: flex;
       margin-top: 0;
       margin-bottom: 55px;
    }
}

