.intro__citacao {
    width: 736px;
    height: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 9px;
    }