/*@font-face {
    src: url(href=https://rsms.me/inter/inter.css);
    font-family:"Inter', sem serifa";
  }*/
  body {
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  
  .page {
   max-width: 1280px;
   width: 1280px;
   height: 7473px;
   max-height:7473px;
   margin: 0 auto;
   padding: 0;
   background: #2A2C2F; 
   font-family: 'Inter', Arial, sans-serif;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased; 
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%; 
   text-rendering: optimizeLegibility;
   position: relative;
  }

  @media screen and (max-width:768px) and  (max-height:7382px) {
    .page {
      max-width: 768px;
      width: 768px;
      height: 7382px;
      max-height: 7382px;
      margin: 0 auto;
      background: #2A2C2F;
     }
  }

    @media screen and (max-width:320px) and  (max-height:9626px) {
     
      .page {
      max-width: 320px;
      width: 320px;
      height: 9626px;
      max-height: 9626px;
      margin: 0 auto;
      background: #2A2C2F;
      }
    }