.photo-grid {
    width: 1184px;
    height: 442px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
  }

@media screen and (max-width:768px) and  (max-height:7382px) {
    .photo-grid {
      width: 720px;
      height: 1104px;
      margin-left: 24px; 
      margin-right: 24px;
      align-content: center;  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 16px;
      margin-bottom: 88px;     
    }
  }
  @media screen and (max-width:320px) and  (max-height:9626px) {
    .photo-grid {
       width: 288px;
       height: 1812px;
       margin-left: 0px; 
       margin-right: 0px;
       align-content: center;  
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(8, 1fr);
       grid-gap: 0px;
       row-gap: 12px;
       margin-bottom: 62px;
    }
  }