    .place-Ribeirao {
        display: flex;
        width: 984px;
        height: 756px;
        margin-bottom: 92px;
        color: white;
        }
        
@media screen and (max-width:768px) and  (max-height:7382px) {
  
    .place-Ribeirao {
        display: flex;
        width: 720px;
        height: 530px;
        margin-bottom: 92px;
        color: white;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Ribeirao {
        display: flex;
        width: 320px;
        height: 626px;
        margin-bottom: 0;
        color: white;
   }
}
        