    .place-Criccieth__column {
        width: 984px;
        height: 756px;
        display: grid;
        grid-template-rows: 152px 460px 48px;
        row-gap: 48px;
        grid-template-columns: 460px 484px;
        column-gap: 40px;
        }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Criccieth__column {
        display: grid;
        grid-template-rows: 101px 388px 48px;
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        row-gap: 0;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Criccieth__column {
       display: grid;
       grid-template-rows: 78px 119px 336px 641px 48px;
       grid-template-columns: 320px;
       column-gap: 0px;
       row-gap: 0;
      }
}