.place-Criccieth__column {
    width: 984px;
    height: 756px;
    display: grid;
    grid-template-rows: 152px 460px 48px;
    row-gap: 48px;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    }
      