.place-Berea__artist {
    width: 456px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    margin-top: 0;
}

@media screen and (max-width:768px) and  (max-height:7382px) {
    
    .place-Berea__artist {
        width: 352px;
        height: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Berea__artist {
        width: 288px;
       height: 22px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 1.125rem;
       line-height: 1.375rem;
       color: #FFFFFF;
       }
         
}

