.place-Ribeirao__paragraph {
    width: 484px;
    height: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    margin-bottom: 25px;
    color: #FFFFFF;
    text-align: justify;
    }