.photo-grid__item {
    width: 284px;
    height: 213px;
    display: flex;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {
    
    .photo-grid__item {
        width: 352px;
        height: 264px;
        display: flex;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .photo-grid__item {
       width: 288px;
       height: 216px;
       margin-left: 16px;
       display: flex;
        }
}