    .header {
        padding-top: 34px;
        margin-left: 505px;
    }
    .__logo {
        height: 70px;
        width: 270px;
        margin-left: 505px;
      }
    
      @media screen and (max-width:768px) and  (max-height:7382px) {
        .header {
            padding-top: 34px;
            padding-bottom: 90px;
            position: relative;
           
          }
      
         .__logo {
            height: 70px;
            width: 270px;
            margin-left: 249px;
            
          }
      }

    @media screen and (max-width:320px) and  (max-height:9626px) {
        .header {
            padding-top:20px; 
            padding-bottom: 50.15px;
            position: relative;
          }
      
         .__logo {
            height: 51.85px;
            width: 200px;
            margin-left: 60px;
            margin-bottom: 0;
          }
    }

    @media screen and (max-width:320px) and  (max-height:9626px) {
      .header {
        padding-top:20px; 
        padding-bottom: 50.15px;
        position: relative;
      }
  
     .__logo {
        height: 51.85px;
        width: 200px;
        margin-left: 60px;
        margin-bottom: 0;
      }
    
    }
