 
 .header {
        width: 100%;
        height: 194px;
        position: relative;
      }
    .__logo {
        margin-top: 34px;
        height: 70px;
        width: 270px;
        margin-left: 505px;
      }

      @media screen and (max-width:768px) and  (max-height:7382px) {
        .header {
            width: 100%;
            height: 194px;
            position: relative;
          }
      
         .__logo {
            width: 270px;
            height: 70px;
            margin-left: 249px;
            margin-top: 34px;
          }
      }

    @media screen and (max-width:320px) and  (max-height:9626px) {
        .header {
          width: 100%;
          height: 122px;
          position: relative;
        }
      
         .__logo {
            height: 51.85px;
            width: 200px;
            margin-left: 60px;
            margin-top: 20px;
          }
    }

 