    .place-Criccieth__website {
        width: 456px;
        height: 67px;
    }
      
@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Criccieth__website {
        width: 352px;
        height: 67px;
        margin-top: 0;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .place-Criccieth__website {
       width: 288px;
       height: 89px;
       margin-top: 0;
       margin-left: 16px;
      }
}