    .place-Criccieth {
        display: flex;
        width: 984px;
        height: 756px;
        color: white;
        margin-bottom: 80px;  
    }
@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Criccieth {
        display: flex;
        width: 720px;
        height: 632px;
        color: white;
        margin-bottom: 46px;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Criccieth {
       display: flex;
       width: 320px;
       height: 1222px;
       color: white;
       margin-bottom: 50px;
       margin-left: 0;
      }
}