.place-Muramvya {
    display: flex;
    width: 984px;
    height: 830px;
    color: white;
    margin-bottom: 80px;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {
    .place-Muramvya {
        display: flex;
        width: 720px;
        height: 814px;
        color: white;
        margin-bottom: 72px;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .place-Muramvya {
        display: flex;
        width: 320px;
        height: 1433px;
        color: white;
        margin-bottom: 50px;
      }
}

