
  .cover__button {
    width: 191px;
    height: 48px;
    display: flex;
    padding-left: 20px;
    background: #0278FE;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    margin-left: 232px;
  }

  .cover:hover,
  .cover__button:hover {
    opacity: 0.3;
  }
    
  @media screen and (max-width:768px) and  (max-height:7382px) {

    .cover__button {
      width: 191px;
      height: 48px;
      display: flex;
      padding-left: 20px;
      gap: 0px;
      margin-left: 232px;
      background: #0278FE;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #FFFFFF;
    }
       
   .cover:hover,
   .cover__button:hover {
      opacity: 0.3;
    }
  }

  @media screen and (max-width:320px) and  (max-height:9626px) {
    
    .cover__button {
      width: 191px;
      height: 48px;
      display: flex;
      padding: 13px;
      gap: 10px;
      margin-left: 48px;
      background: #0278FE;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #FFFFFF;
    }
       
   .cover:hover,
   .cover__button:hover {
      opacity: 0.3;
    }

  }
