    .place-Ribeirao__website {
        width: 456px;
        height: 45px;
        margin-top: 107px;
        margin-bottom: 48px;
        }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Ribeirao__website {
        width: 352px;
        height: 45px;
        margin-top: 0;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Ribeirao__website {
        width: 288px;
        height: 45px;
        margin-top: 0;
        margin-left: 16px;
      }
}
       