    .lead__title {
        width: 793px;
        height: 200px;
        margin-left: 95px;
        font-style: normal;
        font-weight: 900px;
        font-size: 6rem;
        line-height: 6.25rem;
        text-align: center;
        color: #FFFFFF;
        display: flex; 
        margin-bottom: 32px;
        margin-top: 0;
    
    }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .lead__title {
        width: 720px;
        height: 200px;
        margin-left: 24px;
        font-style: normal;
        font-weight: 900px;
        font-size: 6rem;
        line-height: 6.25rem;
        text-align: center;
        color: #FFFFFF;
        display: flex; 
        margin-bottom: 99px;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .lead__title {
        width: 288px;
        height: 88px;
        margin-left: 16px;
        margin-bottom: 60px;
        font-style: normal;
        font-weight: 900px;
        font-size: 2.5rem;
        line-height: 2.75rem;
        text-align: center;
        color: #FFFFFF;
        display: flex;
    }
}