.lead__title {
    width: 793px;
    height: 200px;
    margin-left: 95px;
    font-style: normal;
    font-weight: 900px;
    font-size: 6rem;
    line-height: 6.25rem;
    text-align: center;
    color: #FFFFFF;
    display: flex; 
    margin-bottom: 32px;
}

