.place-Muramvya__title {
    width: 460px;
    height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    color: #FFFFFF;
    }