.place-Ucrania__paragraph-secundario {
    width: 484px;
    height: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    color: #FFFFFF;
    }
   
@media screen and (max-width:768px) and  (max-height:7382px) {

    .place-Ucrania__paragraph-secundario {
        width: 352px;
        height: 260px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 163%;
        color: #FFFFFF;
      }
}
@media screen and (max-width:320px) and  (max-height:9626px) {
    
    .place-Ucrania__paragraph-secundario {
       width: 288px;
       height: 286px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 1rem;
       line-height: 163%;
       color: #FFFFFF;
       margin-top: 0;
      }
}