.intro__text{
    width: 720px;
    height: 182px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    color: #FFFFFF;
    text-align: justify;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .intro__text{
        width: 720px;
        height: 182px;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 163%;
        color: #FFFFFF;
        text-align: justify;
      }
}