.intro {
    width: 828px;
    height: 516px;
    margin-left: 148px;
    display: grid;
    flex-direction: column;
    position: relative;
    margin-bottom: 92px;
  }

  @media screen and (max-width:768px) and  (max-height:7382px) {

    .intro {
      width: 720px;
      height: 574px;
      margin-left: 24px;
      display: grid;
      flex-direction: column;
      position: relative;
      margin-bottom: 64px;
    }
  }

  @media screen and (max-width:320px) and  (max-height:9626px) {
    .intro {
      width: 288px;
       height: 958px;
       margin-left: 16px;
       display: grid;
       flex-direction: column;
       position: relative;
       margin-bottom: 38px;
    }
      
  }