    .place-Ribeirao__image {
        width: 460px;
        height: 460px;
        margin-bottom: 48px;
        background-image: url('./images/RibeiraoPreto.png');
    }
    
@media screen and (max-width:768px) and  (max-height:7382px) {
      
    .place-Ribeirao__image {
        width: 340px;
        height: 340px;
        background-image: url("./images/RibeiraoPreto.png");
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    
    .place-Ribeirao__image {
        width: 320px;
        height: 320px;
        background-image: url("./images/RibeiraoPreto.png");
      }
}