.lead__subtitle {
    width: 720px;
    height: 72px;
    margin-left: 132px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 64px;
}
