.intro__author {
    width: 720px;
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .intro__author {
        width: 720px;
        height: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 34px;
        text-align: right;
        margin-bottom: 32px;
        color: #FFFFFF;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .intro__author {
        width: 288px;
        height: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 34px;
        text-align: right;
        color: #FFFFFF;
        margin-top: 0;
        margin-right: 16px;
        margin-bottom: 18px;
      }
}