.intro__author {
    width: 720px;
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
    }