  
  .place-Berea__url-heading {
        width: 58px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #AAAAAA;
        margin-bottom: 8px;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {
    
    .place-Berea__url-heading {
        width: 58px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #AAAAAA;
        margin-bottom: 8px;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

    .place-Berea__url-heading {
        width: 288px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #AAAAAA;
        margin-bottom: 8px;
        margin-top: 0;
    }
 }
