.place-Muramvya__paragraph-final {
    width: 484px;
    height: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    color: #FFFFFF;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {
   
    .place-Muramvya__paragraph-final {
        width: 352px;
        height: 234px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 163%;
        color: #FFFFFF;
    }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    
    .place-Muramvya__paragraph-final {
        width: 288px;
        height: 286px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
      }
}