    .cover__background {
        width: 1184px;
        height: 740px;
        position: absolute;
        background-image: url("./images/__background.png");
        }

@media screen and (max-width:768px) and  (max-height:7382px) {

    .cover__background {
        width: 768px;
        height: 746px;
        background-image: url("./images/__background.png");
        position: absolute;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    
    .cover__background {
        width: 321.26px;
        height: 254px;
        position: absolute;
        background-image: url("./images/__background320.png");
      }
}