.place-Criccieth__title {
    width: 484px;
    height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    color: #FFFFFF;
    }

@media screen and (max-width:768px) and  (max-height:7382px) {
   
    .place-Criccieth__title {
        margin-top: 6px;
        width: 340px;
        height: 92px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 2.625rem;
        line-height: 2.875rem;
        color: #FFFFFF;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .place-Criccieth__title {
        width: 288px;
        height: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        color: #FFFFFF;
      }
}

