.place-Ucrania__paragraph-principal{
    width: 484px;
   height: 203px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1.125rem;
   line-height: 163%;
   color: #FFFFFF;
   margin-bottom: 25px;
   }