
  .footer {
    position: relative;
    width: 1280px;
    height: 132px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

@media screen and (max-width:768px) and  (max-height:7382px) {

  .footer {
    position: relative;
    width: 768px;
    height: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:320px) and  (max-height:9626px) {

  .footer {
    position: relative;
    width: 320px;
    height: 102px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    
  }
}
