.cover__frame {
    width: 656px;
    height: 254px;
    margin-left: 264px;
    margin-top: 243px;
    text-align: center;
    position: absolute;
    }

    @media screen and (max-width:768px) and  (max-height:7382px) {
    .cover__frame {
        width: 656px;
        height: 254px;
        margin-left: 56px;
        margin-top: 246px;
        text-align: center;
        position: absolute;
      }
    }

    @media screen and (max-width:320px) and  (max-height:9626px) {
      
      .cover__frame {
        width: 288px;
        height: 163px;
        margin-left: 16px;
        margin-top: 46px;
        text-align: center;
        position: absolute;
      }
    }