

  
    .button {
    width: 355px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 20px;
    gap: 10px;
    background: #0278FE;
    border-radius: 4px;
  }
            
  .button:hover {
    background: #0063D2;
    }

  .place__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    }  
  

  @media screen and (max-width:768px) and  (max-height:7382px) {

    .button {
      width: 355px;
      height: 48px;
      display: flex;
      padding: 0px 0px;
      gap: 0px;
      background: #0278FE;
      border-radius: 4px;
      margin:auto;
      align-items: center;
    }
              
    .button:hover {
      background: #0063D2;
    }
  
    .place__button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #FFFFFF;
      cursor: pointer;
      margin-left: 20px;
    }   
  }

  @media screen and (max-width:320px) and  (max-height:9626px) {
    .button {
     width: 288px;
       height: 48px;
       display: flex;
       padding: 0px 0px;
       gap: 0px;
       background: #0278FE;
       border-radius: 4px;
       margin:auto;
       align-items: center;
       margin-left: 16px;
       margin-bottom: 0;
      }
               
     .button:hover {
       background: #0063D2;  
      }
   
     .place__button {
       font-family: 'Inter';
       font-style: normal;
       font-weight: 600;
       font-size: 0.8125rem;
       line-height: 1.0625rem;
       color: #FFFFFF;
       cursor: pointer;
       margin-left: 21px;
      }   

  }