.intro__title {
    width: 949px;
    height: 116px;
    left: 148px;
    top: 92px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}