    .intro__title {
        width: 828px;
        height: 116px;
        font-style: normal;
        font-weight: 900;
        font-size: 3.375rem;
        line-height: 3.625rem;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 75px;
        }
@media screen and (max-width:768px) and  (max-height:7382px) {

    .intro__title {
        width: 707px;
        height: 174px;
        font-style: normal;
        font-weight: 900;
        font-size: 3.375rem;
        line-height: 58px;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 58px;
      }
}

@media screen and (max-width:320px) and  (max-height:9626px) {
    .intro__title {
        width: 288px;
       height: 175px;
       font-style: normal;
       font-weight: 900;
       font-size: 2rem;
       line-height: 2.1875rem;
       color: #FFFFFF;
       display: flex;
       margin-bottom: 54px;
      }
}