.intro__title {
    width: 828px;
    height: 116px;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 75px;
    }